<!DOCTYPE html>
<html lang="en">
<head >
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='/stylesheets/style.css' rel="stylesheet"/>
  <title>MyTone</title>
</head>

<body>
 	<header class="header">
		<a href="/">
    <div class="header-logo">
			<div>
				<img src="/img/knob.png">
			</div>
		</div>
    	</a>
		<div class="header-title">
			<div>
				<img src="/img/logoTypo.png">
			</div>
		</div>
	{{#if user}}
		<div class="header-buttons">
			<a href="/profile">
				<button class="avatar">
      				<img  src={{user.image}} alt={{user.title}} />
				</button>
    		</a>
		</div>
	{{/if}}
	</header>
	
    
	<div class="scroll-zone">
    {{{ body }}}
	</div>

    <footer class="menu">
		<div class="menu-inner">
      {{#if user}}
			
			<a href="/instruments/search" class="menu-item">
				<img height= "40px" src="/img/Icons/searchWt.png"></img>
			</a>
			
			<a href="/instruments/new" class="menu-item">
				<img height= "45px"src="/img/Icons/guitarWt.png">
			</a>
      
      {{else}}
      
      <a href="/auth/signup" class="menu-item">
				SIGN UP
			</a>
      <a href="/auth/login" class="menu-item">
				LOG IN
			</a>
       {{/if}}
		</div>
	</footer>
   
</body>
</html>