<h1>Editing {{user.username}}'s profile</h1>

<form method="POST" action="/profile/edit">
  <label>New username:</label>
  <input type="text" name="username" required="true" value="{{username}}"/>
  <label>User image</label>
  <input required type="text" name="image" value="{{image}}"/>
  <button type="submit">Save changes</button>
</form>