<h3>Search guitar: {{query}}</h3>

<div class="form-box">
<form method="GET" action="/instruments/search"> 
  <label>Search</label>
  <input type="text" name="brand"/>
  <button id="submit-btn" type="submit">Search</button>
</form>
</div>
{{#if instrument}}
  {{>instrumentCard instrument}}
  {{else}}
  <p>Sorry, no instruments found by {{query}}. Try again: <a href="/instruments">go back to instruments</a></p>
{{/if}}